<RunSettings>

  <TestRunParameters>
 
   <!-- Home Page-->
    <Parameter name="Environment" value="http://automationpractice.com/index.php"/>
 
   <!-- User Info-->
    <Parameter name="Email" value="bitiotek@gmail.com"/>
    <Parameter name="Password" value="shop12345"/>

  </TestRunParameters>

  <MSTest>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>

</RunSettings>